#signupform{
    
    border: 1px solid rgb(255, 255, 255);
    display: block;
    width: 20rem;
    height: 25rem;
    margin: auto;
    margin-top: 10rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#form{
    /* border: 1px solid blue; */
    height: 25rem;
    text-align: center;
    
    
}

#name{
    width: 80%;
    margin: auto;
   height: 2rem;
   margin-bottom: 1.5rem;
   border:1px solid rgb(208, 208, 208);
   border-radius: .2rem;
   outline: none;
}

#email{
    width: 80%;
    margin: auto;
   height: 2rem;
   margin-bottom: 1.5rem;
   border:1px solid rgb(208, 208, 208);
   border-radius: .2rem;
   outline: none;
}

#password{
    width: 80%;
    margin: auto;
   height: 2rem;
   margin-bottom: 1.5rem;
   border:1px solid rgb(208, 208, 208);
   border-radius: .2rem;
   outline: none;
}

#age{
    width: 80%;
    margin: auto;
   height: 2rem;
   margin-bottom: 1.5rem;
   border:1px solid rgb(208, 208, 208);
   border-radius: .2rem;
   outline: none;
}

#submit{
    width: 80%;
    margin: auto;
   height: 2rem;
   margin-bottom: 1rem;
   border: none;
   border-radius: 1rem;
   color: aliceblue;
   background-color: #1eb3d1;
}

#googlebtn{
    width: 80%;
    margin: auto;
   height: 2rem;
   margin-bottom: 1rem;
   border: none;
   border-radius: 1rem;
   color: aliceblue;
   outline: none;
   background-color: #1eb3d1;
}